.card-detail__modal {
	.modal-header {
		position: relative;
		textarea {
			width: 100%;
			box-sizing: border-box;
			border: 0;
			font-size: 1.2em;
		}
	}
	.side-panel {
		float: left;
		display: block;
	}
	.main-panel {
		float: right;
		display: block;
	}
	.side-panel .button-action {
		background-color: $white-smoke;
		color: $eerie-black;
		border: none;
		border-radius: 3px;
		box-shadow: none;
		box-sizing: border-box;
		cursor: pointer;
		display: block;
		height: 32px;
		margin-top: 8px;
		max-width: 300px;
		// overflow: hidden;
		padding: 6px 12px;
		// position: relative;
		text-decoration: none;
		text-overflow: ellipsis;
		user-select: none;
		// white-space: nowrap;
	}

	.addto-card__container .checklist__container {
		.checklist-list {
			.checklist-list__item {
				border: 1px solid #ccc;
				padding: 5px 10px 10px 10px;
				border-radius: 3px;
				margin-bottom: 10px;
				&:first-child {
					margin-top: 5px;
				}
				.checklist-list__item--title {
					margin: 5px 0;
					display: flex;
					justify-content: space-between;
				}
				h4 {
					margin: 0;
				}
				.checklist-row__container {
					.checklist-row__item {
						padding: 6px 0;
						margin-bottom: 5px;
						border: 1px solid rgba(60, 60, 60, 0.12);
						display: flex;
						justify-content: space-between;
						&.no-priority {
							border-left: 5px solid #ccc;
						}
						&.low-priority {
							border-left: 5px solid blue;
						}
						&.medium-priority {
							border-left: 5px solid orange;
						}
						&.high-priority {
							border-left: 5px solid red;
						}
						.checklist-row__item--container {
							width: 100%;
							.checklist-row__item--text {
								display: block;
								padding-left: 5px;
								&.strike {
									text-decoration: line-through;
								}
								&.normal {
									text-decoration: none;
								}
							}
							.checklist-row__item--textarea {
								height: 20px;
								width: 100%;
								box-sizing: border-box;
								overflow: hidden;
								overflow-wrap: break-word;
								resize: none;
								background: none;
								border: none;
								box-shadow: none;
							}
							.checklist-dropdown__container {
								display: flex;
								align-items: end;
								justify-content: space-between;
								.checklist-dropdown {
									// width: 180px;
									margin-top: 10px;
									padding-left: 5px;
									display: flex;
									justify-content: space-between;
									label {
										margin-bottom: 4px;
									}
									.priority {
										margin-left: 20px;

									}
								}
								.checklist-dropdown .checklist-dropdown__value {
									margin-top: 4px;
									select {
										padding: 1px;
									}
								}
							}
						}
						.vue-feather {
							display: inline;
						}
					}
				}
			}
		}
	}
}