.kb-container {
	// display: flex;	
}
.kb__columns {
	display: flex;
	align-items: flex-start;
}
.kb__column {
	// flex: 1;
	position: relative;
	width: 245px;
	min-width: 245px;
	background-color: #efefef;
	margin-right: 15px;
	padding: 25px 10px 10px 10px;
	min-height: 10px;
	border-radius: 3px;
	& > .vue-feather.vue-feather--more-horizontal {
		right: 10px;
	}
}
.kb__column--title {
	font-weight: 500;
}
.kb__card {
	position: relative;
	color: $eerie-black;
	padding: 10px 15px 15px 10px;
	border-radius: 3px;
	// margin-bottom: 10px;
	cursor: pointer;
	user-select: none;
    // margin-bottom: 5px;
}
.textarea-kanban {
	overflow: hidden;
	overflow-wrap: break-word;
	resize: none;
	background: none;
	border: none;
	box-shadow: none;
	width: 100%;
	padding: 0;
	background-color: $white;
	box-sizing: border-box;
	padding: 5px 8px;
}
.column-composer__textarea, .card-composer__textarea {
	height: 54px;
	max-height: 162px;
	min-height: 54px;
}
.column-title__textarea {
	height: 25px;
	max-height: 162px;
	min-height: 25px;
}
.card-composer {
	.add-card {
		width: 100%;
		box-sizing: border-box;
		border: 1px solid transparent;
		padding: 5px;
		display: inline-block;
		background-color: #3498db;
		color: $white;
		cursor: pointer;
		border-radius: 3px;
		-webkit-transition: background .2s;
		transition: background .2s;
		&:hover {
			opacity: 0.9;
		}
	}
}
.vue-feather.vue-feather--chevron-left, .vue-feather.vue-feather--chevron-right {
	width: 20px;
	height: 20px;
	color: #9b9b9b;
}
.popover-container {
	position: absolute;
	right: 5px;
	top: 2px;
	.popover {
		position: relative;
		width: 20px;
		height: 20px;
		&:hover {
			background-color: #eee;
		}
	}
}
.vue-feather.vue-feather--more-horizontal {
	position: absolute;
	width: 20px;
	height: 20px;
	color: #9b9b9b;
}
.menu-dropdown {
	width: 150px;
	position: absolute;
	// right: -145px;
	// top: 25px;
	z-index: 10;
	background-color: $white;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 8px 16px -4px #eaecef, 0 0 0 1px #eaecef;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			border-bottom: 1px solid #f2f2f2;
		}
		a {
			text-decoration: none;
			font-size: 14px;
			line-height: 21px;
			color: $eerie-black;
			padding: 5px;
			display: inline-block;
			width: -moz-available;
			width: -webkit-fill-available;
			width: fill-available;
			&:hover {
				background-color: #efefef;
			}
		}
	}
}
.kb__dropzone {
	height: 8px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.kb__dropzone.placeholder {
	transition: background 0.15s, height 0.15s;
	height: 28px;
	background: $white;
	margin-bottom: 10px;
}
// .kb__card--input.placeholder {
// 	background-color: #edf2f7;
// 	height: 1px;
// 	// margin-bottom: 1rem;
// }
.kb__dropzone--active {
	height: 25px;
	background: rgba(0, 0, 0, 0.25);
}