.kb-container {
	// display: flex;	
}
.kb__columns {
	display: flex;
	align-items: flex-start;
}
.kb__column {
	// flex: 1;
	position: relative;
	width: 245px;
	background-color: #efefef;
	margin-right: 15px;
	padding: 10px;
	min-height: 10px;
	border-radius: 3px;
}
.kb__column--title {
	font-weight: 500;
}
.kb__card {
	position: relative;
	background-color: #FFF;
	color: #240202;
	padding: 15px 15px 15px 10px;
	border-radius: 3px;
	// margin-bottom: 10px;
	cursor: pointer;
	user-select: none;
    // margin-bottom: 5px;
}
.vue-feather.vue-feather--more-horizontal {
	position: absolute;
	right: 5px;
	top: 2px;
	color: #9b9b9b;
	width: 20px;
}
.kb__dropzone {
	height: 8px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.kb__dropzone.placeholder {
	transition: background 0.15s, height 0.15s;
	height: 28px;
	background: #FFF;
	margin-bottom: 10px;
}
// .kb__card--input.placeholder {
// 	background-color: #edf2f7;
// 	height: 1px;
// 	// margin-bottom: 1rem;
// }
.kb__dropzone--active {
	height: 25px;
	background: rgba(0, 0, 0, 0.25);
}