.workspace {
	display: flex;
	align-items: flex-start;
	.add-card__container {
		padding-top: 10px;
	}
	.add-card {
		width: 100%;
		box-sizing: border-box;
		border: 1px solid transparent;
		padding: 5px;
		display: inline-block;
		background-color: #3498db;
		color: $white;
		cursor: pointer;
		border-radius: 3px;
		-webkit-transition: background .2s;
		transition: background .2s;
		&:hover {
			// background-color: #b5b5b5;
			opacity: 0.9;
		}
	}
	.save-card {
		margin-top: 5px;
		padding: 5px;
		cursor: pointer;
		background-color: #3498db;
		color: $white;
		display: inline-block;
		&:hover {
			opacity: 0.8;
		}
	}
	input {
		height: 28px;
		box-sizing: border-box;
		width: 100%;
	}
	.drop-zone {
		width: 200px;
		background-color: #ecf0f1;
		margin-right: 25px;
		padding: 10px;
		min-height: 10px;
	}
	.drag-el {
		background-color: #d5dbdf;
		color: #240202;
		padding: 5px;
		margin-bottom: 10px;
		cursor: move;
    	user-select: none;
	}
	.drag-el:nth-last-of-type(1) {
		margin-bottom: 0px;
	}
	.list-title {
		padding-bottom: 10px;
	}

	.draggable {
		cursor: move;
		margin-bottom: 1rem;
		user-select: none;

		/* Center the content */
		align-items: center;
		display: flex;
		justify-content: center;

		/* Size */
		height: 4rem;
		width: 16rem;

		/* Misc */
		border: 1px solid #cbd5e0;
	}
	.placeholder {
		background-color: #edf2f7;
		border: 2px dashed #cbd5e0;
		margin-bottom: 1rem;
	}
}