.workspace {
	.workspace-title {
		border: 1px solid transparent;
		padding: 10px 20px;
		display: inline-block;
		background-color: #e5e7eb;
		cursor: pointer;
		border-radius: 3px;
		-webkit-transition: background .2s;
		transition: background .2s;
	}
	.drop-zone {
		width: 200px;
		background-color: #ecf0f1;
		margin: 25px auto;
		padding: 10px;
		min-height: 10px;
	}
	.drag-el {
		background-color: #3498db;
		color: #fff;
		padding: 5px;
		margin-bottom: 10px;
	}
	.drag-el:nth-last-of-type(1) {
		margin-bottom: 0px;
	}
}